body{
	margin:0;
}
#titulo{
	width: 100%;
	background-color: #5B5C5E;
	height: 100%;
	margin-bottom: 5%;
}
#menu{
	width: 100%;
	margin: 0;
}
#lista-comidas{
	margin-left: 5%;
}

#lista-comidas #pollo{
	width: 90%;
	border: 5px solid #CDC9C9;
	border-radius: 10px;
	margin-bottom: 5%;
	box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.4);
}
#lista-comidas .lista{
	width: 90%;
	border: 5px solid #CDC9C9;
	/*border-radius: 10px;*/
	box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.4);
}
#pie{
    width: 100%;
    background-color:#5B5C5E;
    color: #5B5C5E;
    page-break-after: 5%;
}

#lista-comidas p{
	display: inline-block;
	font-family: arial;
	color:#5B5C5E;
	margin-left: 15%;
}

@media screen and (min-width: 700px) {
	#lista-comidas p{
	font-size: 30px;
	}
	#lista-comidas{
	margin-left: 8%;
	}

}